/* style.css */
/* Reset styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Header styles */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #7cd8a3;
}
/* Navigation styles */
nav ul{
    display: flex;
    list-style: none;
    gap: 20px;
}
nav ul li a{
    text-decoration: none;
    color: #373636;
    font-weight: bold;
    font-size: 18px;
}