/* style.css */
/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: auto 40px;
    font-family: Arial, sans-serif;
}

/* Header styles */
header {
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.site-status {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    gap: 2px;
    border-left: 4px solid #ff0b0b;
}
.site-info {
    font-size: 12px;
    color: #555;
    
}
.status-dot {
    height: 5px;
    width: 5px;
    background-color: rgb(255, 0, 0);
    border-radius: 50%;
    margin: 0 5px;
}

/* Navigation styles */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

nav ul li a:hover {
    color: #007BFF;
}

/* profile section styles */
.profile-section {
    display: flex;
    justify-content: space-around;
    margin: 40px 0;
    align-items: center;
}

img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

/* all h2 headings */
h2 {
    text-align: center;
    margin: 40px 0;
}

/* skills section styles */
.skills-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.skills-container ul {
    list-style-position: inside;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px;
}

.skills-container ul li {
    background-color: #f0f0f0;
    padding: 10px 15px;
    border-radius: 5px;
}

/* project cards styles */
.projects-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.project-card {
    border: 1px solid #151515;
    border-radius: 5px;
    padding: 20px;
    width: 250px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.project-card img {
    width: 100%;
    border-radius: 5px;
}

/* Contact section styles */
.contact-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.contact-container address {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contact-container ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 10px;
    padding: 10px;
}

/* footer */
footer {
    text-align: center;
    padding: 20px 0;
    margin: 10px;
}