/* style.css */
/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    font-family: Arial, sans-serif;
    margin: 0 40px;
}

/* Header styles */
header {
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;

}

.site-status {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    gap: 2px;
    border-left: 4px solid #ff0b0b;
}

.site-info {
    font-size: 12px;
    color: #555;

}

.status-dot {
    height: 5px;
    width: 5px;
    background-color: rgb(255, 0, 0);
    border-radius: 50%;
    margin: 0 5px;
}

/* Navigation styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border: 2px solid #151515;
}

nav ul {
    list-style: none;
    width: 50%;
    display: flex;
    gap: 20px;
    justify-content: space-evenly;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

nav ul li a:hover {
    border-bottom: 3px solid #333;
}

#profile-section,
#skills-section,
#projects-section,
#contact-section {
    border: 1px solid #151515;
    margin-bottom: 20px;
    padding: 20px;
}

/* profile section styles */
#profile-section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;

}

#profile-section img {
    border-radius: 50%;
    width: 245px;
    height: 245px;
    border: 4px double #151515;
}

.profile-info {
    width: 50%;
    margin-left: 20px;
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
    align-items: start;
    border: 1px solid #151515;
    padding: 20px;
    border-radius: 20px;
}

/* all h2 headings */
h2 {
    text-align: center;
    margin-bottom: 30px;
}

/* skills section styles */
.skills-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.skills-container div {
    width: 300px;
    border: 1px solid #151515;
    border-radius: 10px;
    padding: 10px;
}

.skills-container div h3 {
    text-align: left;
    margin-bottom: 15px;
    padding: 5px;
}

.skills-container ul {
    list-style-type: '☑ ';
    list-style-position: inside;
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin: 10px;
}

.skills-container ul li {
    background-color: #f0f0f0;
    padding: 10px 15px;
    border-radius: 10px;
    border: 2px solid #ccc;
}

/* project cards styles */
.projects-container {
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.project-card {
    border: 1px solid #151515;
    border-radius: 5px;
    padding: 20px;
    width: 250px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.project-card img {
    width: 100%;
    border-radius: 5px;
}

/* Contact section styles */
.contact-container {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
}

.contact-container address {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.contact-container h3 {
    text-align: center;
    margin-bottom: 20px;
}

.contact-container div {
    width: 50%;
    border: 1px solid #151515;
    border-radius: 5px;
    padding: 10px;
}

.contact-container ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;
}

/* footer */
footer {
    text-align: center;
    padding: 20px 0;
    margin: 10px 0;
    border: 1px solid #151515;
}

footer p {
    margin: 5px 0;
}